* {
    size: 1200 x 720;
    font-family: 'Oswald', sans-serif;  
    padding: 0;
    margin: 0;
}
p{  
    margin-top: 10px;
    margin-left: 20px;
}
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
.bg{
    position: relative;
   
    height: 100vh;
    background-image: url('bg.jpg');
    background-size:cover;
    color: white;
    padding: 15px 15px 0  ;
}
.upperbox{
    position: relative;
    
    border-radius: 50px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    

}
.aboutText{
    position: relative;
    text-align:justify;
    font-size: 17px ;
}

.dp{
    border-radius: 20%;
    position: absolute;
    top: 17px;
    right: 30px;
}