<div class="container">
    <div class="row">            
        <div class="col-sm" style="text-align: center"><h1 class="display-2">Welcome to Angular Assignment</h1></div>
      </div>
      <br>
      <div class="row">    
        <div class="col-sm" style="text-align: center">        
        <p style="font-size: 40px;" class="text-muted">Submitted by Raj Vignesh K</p>
    
        </div>
      </div>
      <div class="row">    
        <div class="col-sm" style="text-align: center">        
            <a class="nav-link" href="https://www.github.com/rajviignesh">Check out my GitHub!</a>
    
        </div>
      </div>
</div>
